<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/yjb2tlz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
<header>
	<div class="col-xs-4 links">
		<%= link_to 'About', '#' %>
	</div>
	<div class="col-xs-4 fox">
		<div class=" row logo">
		"The Fox"
		</div>
		<div class=" row slogan">
		Quietly Observing Humans Since 1983
		</div>		
	</div>
	<div class="col-xs-4 links">
		<%= link_to 'Contribute', '#' %>
	</div>

</header>
<hr />

<br class="clear"/>

<div class="container">
	<%= yield %>
</div>

<div class="footer">
	<div class="container">
	<div class="col-xs-12 next-quote">
		<%= link_to "Show me more!", "#" %>
	</div>
	</div>
	<div="container">
		<p class="text-muted">Hacked with love, by <a href="http://cacauzen.me">Claudia</a></p>
	</div>
</div>
</body>
</html>













