<!DOCTYPE html>
<html>
<head>
  <title>The Fox</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.typekit.net/yjb2tlz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
<header>
	<div class="col-xs-12 col-sm-3 header-img">
		<%= image_tag 'fox.jpg', :class => 'img-responsive' %>
	</div>
	<div class="col-xs-12 col-sm-6  fox">
		<%= link_to root_path do %>
		<div class="row logo">
		 <%= image_tag 'fox-logo.png', :class => 'img-responsive' %>
		</div>
		<div class="row slogan hidden-xs">
		Quietly Observing Humans Since 1983
		</div>	
		<% end %>	
	</div>
	<div class="col-xs-12 col-sm-3 links">
		<div class="col-xs-6 col-sm-12 about-link">
			<%= link_to 'About', about_path %>
		</div>
		<div class="col-xs-6 col-sm-12"> 
			<!-- Button trigger modal -->
      		<%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
  		</div>
	</div>

</header>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Share A Thought</h4>
        </div>
        
          <!--Form Code-->
			<%= simple_form_for Quote.new do |f| %>
			<div class="modal-body">
				<%= f.input :saying, label: "Add something weird or funny humans do.", placeholder: "A fox should not be on the jury at a goose's trial." %>
				<br />
				<%= f.input :author, label: "Who is the Author?", placeholder: "Thomas Fuller" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit 'Add', :class => 'btn btn-danger' %>
			</div>	
			<% end %>
          <!--Form Code End-->
        </div>

      </div>
    </div>
  </div>

<!-- End Modal jumble -->

<hr />

<br class="clear"/>

<div class="container">
	<% if flash[:error].present? %>
	<div class="col-xs-12  alert alert-danger">
		<%= flash[:error].html_safe %>
	</div>
	<% end %>
	<%= yield %>
</div>
<br/ >
<br/ >
<br/ >

<div class="container">
	<div class="col-xs-12 next-quote">
		<%= link_to "Show Me More!", root_path, :class => 'next-quote' %>
	</div>
</div>

<div class="footer">
	<div="container made-by">
		<p class="text-muted">Hacked with love, by <a href="http://cacauzen.me">Claudia</a></p>
	</div>
</div>
</body>
</html>













