<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="col-xs-4 fox">
		<div class="circle">
		  <br />
		  THE
		  <br />
		  *
		  <br />
		  FOX
		</div>	
	</div>
	<div class="col-xs-4 slogan">
		Quietly observing Humans.<br/> Since 2015.
	</div>
	<div class="col-xs-4 links">
		
			<div class="row"><%= link_to 'Contribute', '#' %></div>
			<div class="row"><%= link_to 'About', '#' %></div>
	</div>

</header>
<hr />

<br class="clear"/>

<%= yield %>

</body>
</html>
